.aboutContainer {
    text-align: center;
    margin-top: 30px;
}

.aboutContainer h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: orange;
}

.aboutContainer p {
    border: 1px solid #333;
    width: 90%;
    margin: auto;
    font-size: 1.2rem;
    margin-top: 20px;
    border-radius: 30px;
    background-color: blanchedalmond;
    padding: 8px;
}